body{
    background-color: white;
    margin: 0;
}

#left-div{
    width: 75%;
    height: 100vh; /* Sets the height to 100% of the viewport height */
    background-color: transparent;
    float: left; /* Floats the div to the left */
}

#right-div{
    width: 25%;
    height: 100vh; /* Sets the height to 100% of the viewport height */
    background-color: transparent;
    float: left; /* Floats the div to the left */
}

#mypic1{
    position: absolute;
    top: 20%;
    left: 55%;
    height: 80%;
    /* padding-top: 5vw; */
    /* padding-left: 10vw; */
    /* z-index: 10; */
}

/* +=====================+*/
/* |Overlapping triangles|*/
/* +=====================+*/
.triangle-container {
    width: 50%;
    height: 0vh; 
    position: relative;
    z-index: -1;
}

.triangle-container::before,
.triangle-container::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

/* Outer Triangle */
.triangle-container::before {
    border-top: 70vh solid #9BABB8;
    border-bottom: 30vh solid #9BABB8;
    border-left: 70vw solid transparent;
    /* top: 0;
    left: 0; */
}

/* Inner Triangle*/
.triangle-container::after {
    /* top: 2vh ; */
    margin-top: 2vh;
    border-top: 67vh solid transparent;
    border-bottom: 30vh solid transparent;
    border-left: 68vw solid #EEE3CB;
    /* top: 0;
    left: 0; */
}

/* +=========+*/
/* |Text Area|*/
/* +=========+*/    
.text-area{
    position: absolute;
    top: 45%;
    left: 15%;
}

p{
    
    font-size: 2rem;
    font-family: 'Lumanosimo', cursive;
}

.my-button{
    font-size: 1.3rem;
    margin-top: 0px;
    font-family: 'Lumanosimo', cursive;
    cursor: pointer;
    transition: transform 0.3s;
    
}

.my-button:hover {
    transform: scale(1.1); /* Increase size by 10% */
}


#changing-text {
    transition: opacity 0.5s;
    opacity: 1;
}

/* +==========+*/
/* |Moving Bar|*/
/* +==========+*/ 
.bar {
    width: 75vw;
    height: 30px;
    background-color: #F31559;
    position: absolute;
    top: 0;
    left: 0;
    animation: sweep 3s linear infinite;
    z-index: -1;
}

@keyframes sweep {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}
